h1 {
    color: green;
}

.projects {
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
}

* {
    font-family: 'Josefin Sans',
        sans-serif;
}

h1 {
    font-weight: 600;
}

#home {
    padding-top: 20px;
    background-color: rgb(224, 231, 161);
    margin-top: -20px;
    padding-bottom: 20px
}

.footer {
    background-color: rgb(224, 231, 161);
    font-size: 25px;
    padding: 20px
}

.projects {
    font-size: 25px
}